.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, 	#9dc262, 	#9dc262);
}


.wrapper {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 10vh; /* Optionally, set height to fill viewport */

}

input {
  height: 40px;
  padding: 7px 13px 7px 13px;
  width: 40vw;
  max-width: 700px;
  background-color: #ffffba;
  color: 	#ffb3ba;
  border-style: none;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  
}

button {
  height: 40px;
  width: 58px;
  background-color: 	#ffb3ba;
  border: none;
  font-size: 15px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.1s;
  padding-left: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;

  color: #ffffba;
  
}

body{
  background: 	#ffdfba;
}

h1{
  color: #ffffba;
}